.tableHead {
  margin-top: 1.5rem;
}
#table {
  width: 95%;
  margin-left: 2rem;
  border: solid 2px black;
}
.fa-solid {
  cursor: pointer;
}

.fa-eye:hover {
  color: #48aaad;
}

.fa-download:hover {
  color: #08e8de;
}

.fa-trash:hover {
  color: red;
}
